.grandezza{
font-size: .8em ;
}

.grandezza-btn{
    font-size: .6em;
padding: 4px 10px;
}
.grandezza-link{
    font-size: .45em ;
}

.finto-footer{
    height: 80vh;
}
.overfooter:hover{
    scale: 1.1;
    opacity:1;
    color: white;
    
}