body{
    background-color: black;
}
.grandezza{
font-size: .8em ;
}

.grandezza-btn{
    font-size: .6em;
padding: 4px 10px;
}
.grandezza-link{
    font-size: .6em ;
}

.finto-footer{
    height: 80vh;
}
.overfooter:hover{
    scale: 1.3;
    opacity:1;
    color: white;
    
}

.sfondo-artista{
   box-shadow: 10px 60px 60px 0px rgba(247,247,247,0.32);
}

@media screen and (max-width: 768px){
    .finto-footer{
        height: 26vh ;
    }
}