body{
    background-color: black;
}
.grandezza{
font-size: .8em ;
}

.grandezza-btn{
    font-size: .6em;
padding: 4px 10px;
}
.grandezza-link{
    font-size: .6em ;
}

.finto-footer{
    height: 80vh;
}
.overfooter:hover{
    scale: 1.3;
    opacity:1;
    color: white !important;
    
}

.cardColor{
    background: #082200;
background: -moz-radial-gradient(center, #082200 0%, #000000 1%, #A2792E 100%);
background: -webkit-radial-gradient(center, #082200 0%, #000000 1%, #A2792E 100%);
background: radial-gradient(ellipse at center, #082200 0%, #000000 1%, #A2792E 100%);
box-shadow: 0px 20px 25px 8px rgb(0,0,0,0.4);
}
.textbluu{
    color: #032e3f;
}
.textpurr{
color: #AB274F;
}
.textpur{
    color: #AF002A ;

}
.sfondo-artista{
   box-shadow: 10px 60px 60px 0px rgba(247,247,247,0.32);
}

@media screen and (max-width: 768px){
    .finto-footer{
        height: 26vh ;
    }
}